@mixin grayscale_element($value) {
    -webkit-filter: #{"grayscale(#{$value})"};
    -moz-filter: #{"grayscale(#{$value})"};
    filter:#{"grayscale(#{$value})"};
}


.img-card {
    cursor: pointer;
}

@media (min-width: 768px){
    .img-card {
        cursor: pointer;
        @include grayscale_element(100%);
        &:hover{
            transition: ease-in-out 1000ms;
            @include grayscale_element(0)
        }
    }
}

